@media (min-width: 768px) {

    /* hide hamburger */
    #menu-button {
        display: none;
    }

    /* show nav always */
    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        padding: 1rem 1.5rem;
    }

    main {
        max-width: 1200px;
    }

    /* gallery grid desktop */
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
    }

    figure img {
        height: 220px;
        width: 100%;
        object-fit: cover;
    }
}