@media (min-width: 768px) {

    main {
        max-width: 700px;
        margin: 0 auto;
        /* center main container horizontally */
    }

    form {
        display: grid;
        gap: 10px;
        max-width: 500px;
        /* prevent form from stretching too wide */
        margin: 0 auto;
        /* center the form horizontally */
    }

    .stars {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    textarea {
        height: 120px;
    }

    input[type="submit"] {
        width: 250px;
        justify-self: center;
    }
}