@media (min-width: 768px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    /* Hide SVG icon on large screens */
    .weather-icon {
        display: none;
    }
}