@media (min-width: 768px) {
    #menu-button {
        display: none;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        padding: 1rem 1.5rem;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}